.cardcontainer {
  background-color: white;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 10px 10px;
  width: 350px;
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.cardcontainer h3 {
  font-size: 1.5rem;
  margin: 0;
  color: purple;
}

.cardcontainer p {
  font-size: 12px;
  color: #666666;
  text-align: center;
}

.cardcontainer button {
  padding: 8px 16px;
  background-color: purple;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}
.cardbutton {
  display: flex;
  justify-content: center;
}
.cardcontainer button:hover {
  background-color: #0056b3;
}

.cardimg {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

.cardimg img {
  width: 320px;
  height: 190px;
  border-radius: 30px;
  transition: transform 0.3s ease-in-out;
}

.cardimg img:hover {
  transform: scale(1.1);
}

.cardone {
  display: flex;
  flex-direction: column;
  align-items: center;
}
